anyio==4.12.1
APScheduler==3.11.2
certifi==2026.1.4
click==8.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
pillow==12.1.1
python-dotenv==1.2.1
python-telegram-bot==22.6
setuptools==82.0.0
svgwrite==1.4.3
Tree==0.2.4
typing_extensions==4.15.0
tzlocal==5.3.1
